@import '~bootstrap/scss/bootstrap';
:root{
    --color-primary:#0282F9;
    --color-secondary:#303030;
    --color-third:#1C1C1C;
    --color-link:#797979;
}

nav{
    
        padding: 1rem 0;
        display:flex;
        align-items: center;
        justify-content:space-between;
    
    .img-box{
        height: 60px;
        object-fit: cover;
    }

    ul{
        display: flex;
        align-items: center;
        list-style: none;
        margin: unset;
        margin:0 auto;
        li{
            padding: 0rem .7rem;
            font-size: .7rem;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            &:hover{
               color:var(--color-primary ); 
               cursor:pointer;
            }
            a{
                color: unset;
                text-decoration: unset;
            }
            
        }
    }
    
    .active{
        color:var(--color-primary ); 
        
    
    }
    .active::after{
        content: "";
        width: 100%;
        height: 3px;
        background-color: var(--color-primary);
    
    }
    

}

.jumbotron{
    .img-box {
        height: 400px;
        overflow: hidden;
    }
}

footer{
    .box-banner-1{
        padding: 2rem 0;
        display: flex;
        background-color: var(--color-primary);
        color: white;
        .img-box{
            height: 40px;
        }
        .banner-1{
            display: flex;
            justify-content: space-around;
        }
    
    }
    .box-banner-2 {
        background-image: url("../img/footer-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    
    
    
    
    
    }
    
    .banner-2-links {
        padding-top: 2rem;
        color: white;
        display: flex;
    
        ul {
            padding: unset;
            list-style: none;
            li{
                text-align: center;
                a{
                    color: var(--color-link);
                    text-decoration: none;
                    &:hover{
                      color: var(--color-primary);
                      transition: all .2s;
                    }
                }
               
                
                
            }
        }
    
    }
    
    .box-link {
        padding: 0 1rem;
        text-align: center;
        span{
            font-size: 1.2rem;
            font-weight: bold;
            
        }
    }
    
    .banner-2-img-box {
        margin-left: auto;
        scale: 1.3;
    
        img {
            height: 350px;
    
        }
    
    
    
    }
    .box-footer{
        background-color: var(--color-third);
        padding: 1rem 0;
    }
    .my-btn{
        color: white;
        background-color: transparent;
        border: 3px solid var(--color-primary);
        padding: 10px;
        &:hover{
            background-color: var(--color-primary);
            transition:background-color .3s;
            
            
        }
    
    }
    .link-box{
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-left:auto ;
    }
    .txt-footer{
        color: var(--color-primary);
    }
}