@import '~bootstrap/scss/bootstrap';
:root{
    --color-primary:#0282F9;
    --color-secondary:#303030;
    --color-third:#1C1C1C;
    --color-link:#797979;
}

nav{
    
        padding: 1rem 0;
        display:flex;
        align-items: center;
        justify-content:space-between;
    
    .img-box{
        height: 60px;
        object-fit: cover;
    }

    ul{
        display: flex;
        align-items: center;
        list-style: none;
        margin: unset;
        margin:0 auto;
        li{
            padding: 0rem .7rem;
            font-size: .7rem;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            &:hover{
               color:var(--color-primary ); 
               cursor:pointer;
            }
            
        }
    }
    
    .active{
        color:var(--color-primary ); 
    
    }
    .active::after{
        content: "";
        width: 100%;
        height: 3px;
        background-color: var(--color-primary);
    
    }
    

}

.jumbotron{
    .img-box {
        height: 400px;
        overflow: hidden;
    }
}
